@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
.inter-uniquifier {
  font-family: "Inter", sans-serif;
}

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hader_bg {
  background-image: url(../Assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  height: 630px;
}
.nav_content {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-size: 34px;
  font-weight: 700;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}
.nav_btn {
  padding: 12px 36px;
  border-radius: 5px;
  background-color: #4e47ff;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
}
/********************** baner section ***************** */
.baner_content {
  text-align: center;
  margin-top: 120px;
}
.baner_content h1 {
  font-size: 65px;
  font-family: "Raleway", sans-serif;
}
.baner_btn {
  padding: 12px 36px;
  border-radius: 5px;
  background-color: #4e47ff;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
}
/* ****************see_section ************************* */
.see_padding {
  padding: 100px;
  background-color: #f5f8ff;
}
.see_content {
  display: flex;
  max-width: 1140px;
  margin: auto;
  justify-content: space-between;
}
.see_content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.see_content p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.see_content button {
  padding: 12px 36px;
  border-radius: 5px;
  background-color: #4e47ff;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
}
.wc-mini-img {
  border-radius: 20px;
}
/********************* Users_section******************* */
.Users_section {
  padding: 50px;
  background-color: #f5f8ff;
}
.Users_contean {
  background-color: #e5e7ff;
  border-radius: 12px;
  max-width: 1140px;
  margin: auto;
}
.Users_title {
  text-align: center;
  padding-top: 30px;
  font-size: 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.Users_items {
  display: flex;
  text-align: center;
  justify-content: space-around;

  padding: 20px;
}
.Users_items h1 {
  font-size: 72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #4e47ff;
}
.Users_items p {
  margin-top: -60px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
/******************* Users_cad_section****************** */
.Users_cad_section {
  padding: 50px;
  background-color: #f5f8ff;
}
.Users_cad_title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.Users_cad_content {
  display: flex;
  max-width: 1140px;
  margin: auto;
  gap: 20px;
}
.single_card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.single_card p {
  font-size: 18px;
}
.Users_cad_info {
  display: flex;
  align-items: center;
  gap: 25px;
}
.Users_cad_info img {
  border-radius: 100%;
}
.Users_cad_info h5 {
  margin: 0px;
  padding: 0px;
}
.Users_cad_info p {
  margin: 0px;
  padding: 0px;
}

/*********************** Ready_section********************* */
.Ready_section {
  background-color: #f5f8ff;
}
.ready_content {
  padding: 70px 0px;
  max-width: 1140px;
  margin: auto;
  text-align: center;
  background-color: white;
}
.ready_content h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.ready_content p {
  font-size: 18px;
  font-weight: 400;
  color: #989898;
}
.ready_content button {
  padding: 12px 36px;
  border-radius: 5px;
  background-color: #4e47ff;
  color: white;
  border: none;
  font-family: "Raleway", sans-serif;
}
.wc-img img {
  margin-top: 30px;
  border-radius: 50px;
}
/************************* logine_content**************** */
.logine_section {
  background-color: #f5f8ff;
  padding: 100px 0px;
}

.logine_content {
  display: flex;
  max-width: 1140px;
  margin: auto;
  justify-content: space-around;
}
.login_title {
  font-size: 80px;
  font-weight: 700;
}
input,
textarea {
  width: 130%;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}
.login_from {
  gap: 20px;
}
.Get_btn {
  width: 140%;
  background-color: white;
  padding: 15px;
  background-color: #4e47ff;
  color: white;
  margin-top: 15px;
  border: none;
}
/************************* footer ******************* */
.footer_section {
  padding: 70px 0px;
}
.content_dis {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.content_dis h1 {
  font-size: 90px;
  margin: 0;
  padding: 0;
  color: blue;
}
ul,
li {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

/******************* hover all button ********************** */
button:hover {
  background-color: yellow;
  color: black;
}
